@*  The @page directives specify the URLs for which this component will be displayed, which are `/admin/`
products and `/admin`.
*@

@page "/admin/products"
@page "/admin"

<h4>This is the products component</h4>