@*  This file defines a simple HTML document into which the contents of other views will be inserted by the
@RenderBody expression.*@

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SportsStore</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>